html {
    background-image: url("../images/cropped-1920-1200-598013.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 50% auto;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

#panel {
    background-color: black;
    padding-top: 0.002%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: -0.5%;
    border-radius: 10px 20px 0 50px;
    box-shadow: 10px 10px 20px black
}

#Menu {
    display: flex;
    flex-direction: column;
}

#indication {
    display: flex;
    flex-direction: column;
    align-self: end;
}

#buttons {
    display: flex;
    align-self: end;
}

.myButton:hover,
.myButton:focus {
    color: white;
    background-color: #800000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 1px 1px rgba(255, 255, 255, .3) inset, 0 1px rgba(255, 255, 255, .4) inset, 0 0 5px rgb(228, 55, 141);
    border-color: rgba(255, 255, 255, .2);
}

.myButton:active {
    background-color: #800000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .6) inset, 0 1px 0 rgba(255, 255, 255, .3);
    border: 1px solid black;
}

.myButton {
    color: #eee;
    border-radius: 4px;
    background-color: #b30000;
    background-image: linear-gradient(#b30000, #800000 50%, transparent 90%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 1px 1px rgba(255, 255, 255, .3) inset, 0 1px rgba(255, 255, 255, .4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    outline: none;
    font-family: 'Big Shoulders Stencil Display', cursive;
}