html {
    background-image: url("../images/game.jpeg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

h1 {
    color: black;
}

#time {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

#top {
    grid-column-start: 1;
    height: 7px;
    padding-top: 0px;
    color: rgb(129, 35, 35);
}

#chrono {
    grid-column-start: 3;
    color: rgb(105, 0, 0);
    background-color: white;
    border: solid;
    text-align: left;
    text-align: center;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 10%;
    left: 10%;
    border: 3px solid #f1f1f1;
    z-index: 10;
}

.form-container {
    max-width: 100%;
    padding: 10px;
    background-color: white;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container textarea {
    font-family: 'Big Shoulders Stencil Display', cursive;
    width: 90%;
    height: 20px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}

.form-container .btn {
    font-family: 'Big Shoulders Stencil Display', cursive;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    color: #eee;
    border-radius: 4px;
    background-color: #177200;
    background-image: linear-gradient(#176e34, #145e39 50%, transparent 90%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 1px 1px rgba(255, 255, 255, .3) inset, 0 1px rgba(255, 255, 255, .4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    outline: none;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.form-container .cancel {
    background-color: #b30000;
    background-image: linear-gradient(#b30000, #800000 50%, transparent 90%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 1px 1px rgba(255, 255, 255, .3) inset, 0 1px rgba(255, 255, 255, .4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

#contenu {
    color: black;
}

#contenu2 {
    color: black;
}

#inventaire {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 80% 20%;
}

#cible1 {
    grid-row-start: 2;
    grid-column-start: 1;
}

#check1 {
    grid-row-start: 1;
    grid-column-start: 1;
    display: flex;
    justify-content: center;
}

#cible2 {
    grid-row-start: 2;
    grid-column-start: 2;
}

#check2 {
    grid-row-start: 1;
    grid-column-start: 2;
    display: flex;
    justify-content: center;
}

#cible3 {
    grid-row-start: 2;
    grid-column-start: 3;
}

#check3 {
    grid-row-start: 1;
    grid-column-start: 3;
    display: flex;
    justify-content: center;
}

#cible4 {
    grid-row-start: 2;
    grid-column-start: 4;
}

#check4 {
    grid-row-start: 1;
    grid-column-start: 4;
    display: flex;
    justify-content: center;
}

#cible5 {
    grid-row-start: 2;
    grid-column-start: 5;
}

#check5 {
    grid-row-start: 1;
    grid-column-start: 5;
    display: flex;
    justify-content: center;
}

#cible6 {
    grid-row-start: 2;
    grid-column-start: 6;
}

#check6 {
    grid-row-start: 1;
    grid-column-start: 6;
    display: flex;
    justify-content: center;
}

#cible7 {
    grid-row-start: 2;
    grid-column-start: 7;
}

#check7 {
    grid-row-start: 1;
    grid-column-start: 7;
    display: flex;
    justify-content: center;
}

#cible8 {
    grid-row-start: 2;
    grid-column-start: 8;
}

#check8 {
    grid-row-start: 1;
    grid-column-start: 8;
    display: flex;
    justify-content: center;
}

#cible9 {
    grid-row-start: 2;
    grid-column-start: 9;
}

#check9 {
    grid-row-start: 1;
    grid-column-start: 9;
    display: flex;
    justify-content: center;
}

#cible10 {
    grid-row-start: 2;
    grid-column-start: 10;
}

#check10 {
    grid-row-start: 1;
    grid-column-start: 10;
    display: flex;
    justify-content: center;
}


/*
#inventaire div input[type='button'] {
    font-family: 'Big Shoulders Stencil Display', cursive;
    width: 100%;
    height: 100%;
}
*/

textarea {
    font-family: 'Big Shoulders Stencil Display', cursive;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}