html {
    background-image: url("../images/80403.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    color: red;
}

#story {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

#Menu {
    padding: 0% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myButton:hover,
.myButton:focus {
    color: white;
    background-color: #800000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 1px 1px rgba(255, 255, 255, .3) inset, 0 1px rgba(255, 255, 255, .4) inset, 0 0 5px rgb(228, 55, 141);
    border-color: rgba(255, 255, 255, .2);
}

.myButton:active {
    background-color: #800000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .6) inset, 0 1px 0 rgba(255, 255, 255, .3);
    border: 1px solid black;
}

.myButton {
    padding: 10px 60px;
    color: #eee;
    border-radius: 4px;
    background-color: #b30000;
    background-image: linear-gradient(#b30000, #800000 50%, transparent 90%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 1px 1px rgba(255, 255, 255, .3) inset, 0 1px rgba(255, 255, 255, .4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    outline: none;
    font-family: 'Big Shoulders Stencil Display', cursive;
}