/*Principales caractéristiques*/

html {
    background-image: url("../images/paris_sombre_5.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

body {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 10% auto;
}


/*Entête*/

header {
    grid-row-start: 1;
    grid-column-start: span 2;
}

textarea {
    width: 60%;
    height: 15px;
}


/*Tableau des joueurs*/

#tab {
    grid-row-start: 2;
    grid-column-start: 1;
}

table {
    width: 100%;
}

th {
    background-color: #000000;
    text-align: center;
    height: 10px;
}

tr {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #5c5c5c;
}

tr:nth-child(odd) {
    background-color: rgb(71, 71, 71);
}

td {
    height: 10px;
}


/*Boutons*/

#options {
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myButton:hover,
.myButton:focus {
    color: white;
    background-color: #800000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 1px 1px rgba(255, 255, 255, .3) inset, 0 1px rgba(255, 255, 255, .4) inset, 0 0 5px rgb(228, 55, 141);
    border-color: rgba(255, 255, 255, .2);
}

.myButton:active {
    background-color: #800000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .6) inset, 0 1px 0 rgba(255, 255, 255, .3);
    border: 1px solid black;
}

.myButton {
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 60px;
    color: #eee;
    border-radius: 4px;
    background-color: #b30000;
    background-image: linear-gradient(#b30000, #800000 50%, transparent 90%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 1px 1px rgba(255, 255, 255, .3) inset, 0 1px rgba(255, 255, 255, .4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    outline: none;
    font-family: 'Big Shoulders Stencil Display', cursive;
}